<div *ngIf="!isLoading" class="shows-container">
  <div class="shows-bar">
    <app-search
      [searchChangedCallback]="searchChangedCallback"
      [search]="search">
    </app-search>
    <app-pagination 
      [pageChangedCallback]="pageChangedCallback" 
      [currentPage]="currentPage" 
      [pagesCount]="pagesCount">
    </app-pagination>
  </div>
  <app-shows-list [shows$]="shows$"></app-shows-list>
  <div class="shows-bar bottom">
    <app-pagination
      [pageChangedCallback]="pageChangedCallback" 
      [currentPage]="currentPage" 
      [pagesCount]="pagesCount">
    </app-pagination>
  </div>
</div>
<!-- TODO make it reusable -->
<div *ngIf="isLoading" class="shows-loader">
  Loading...
</div>