.show-item-container {
  display: flex;
  border: 1px solid #dddddd;
  background: #f2f2f2;
  padding: 15px;
  margin: 15px 0 0 0;
  .show-item-image {
    width: 40px;
  }
  .show-item-content {
    width: 100%;
    margin: 0 0 0 15px;
    .show-item-name {
      display: flex;
      padding: 0 0 15px 0;
      width: 100%;
      justify-content: space-between;
      .show-item-imdb-link {
        font-size: 15px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .show-item-container {
    margin: 10px 0 0 0;
    padding: 10px;
    .show-item-content {
      margin: 0 0 0 10px;
      .show-item-name {
        padding: 0 0 10px 0;
      }
    }
  }
}
