#page-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1520px;
  padding: 0 25px;
  background-color: #f3f3f3;
  header {
    padding: 25px 0;
    border-bottom: 1px solid #000;
    text-align: center;
  }
}
  

@media all and (max-width: 800px) {
  #page-wrapper {
    padding: 0 10px;
    header {
      padding: 10px 0;
    }
  }
}
